<h1>Tasks</h1>
  <%= link_to "New Task", new_task_path %>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Toggle Status</th>

  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.status %> </td>
      <td><%= link_to "Edit", edit_task_path(task) %></td>
      <td><%= link_to "Toggle status", toggle_status_task_path(task) %></td>
    </tr>
    
  <% end %>
</table>

