<h1>Tasks</h1>
<div>
  <%= link_to "New Task", new_task_path, class: 'btn btn-primary' %>
</div>
  <br>
<div>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Toggle Status</th>

  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.status %> </td>
      <td><%= link_to "Edit", edit_task_path(task), class: 'btn btn-warning form-control' %></td>
      <td><%= link_to "Toggle status", toggle_status_task_path(task), class: 'btn btn-success form-control' %></td>
    </tr>
  <% end %>
</table>
</div>    

