<table class="table table-bordered">
  <tr>
    <th>Pay Period Start</th>
    <th>Pay Period End</th>
    <th>Number of Task Entries on Report</th>
    <th>Download Report</th>
  </tr>
<% @pay_reports.each do |report| %>
  <tr>
    <td><%= report.start.strftime("%m/%d/%Y")%></td>
    <td><%= report.end.strftime("%m/%d/%Y")%></td>
    <td><%= report.task_entries.count%></td>
    <td><%= link_to "Download", pay_report_path(report, :format => :xlsx)%></td>
<!--     <% report.task_entries.each do |poop| %>
    	<%= poop.inspect %>
    <% end %> -->
  </tr>
<% end %>
</table>