<h1>Jobs</h1>
<div>
  <%= link_to "New Job", new_job_path, class: 'btn btn-primary' %>
  <%= link_to "Generate Job Costing Report", new_jobs_csv_path, class: 'btn btn-primary' %>
</div>
<br>
<div>
<table class="table table-bordered">
  <tr>

    <th>Number</th>
    <th>Name</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Toggle Status</th>

  </tr>
<% @jobs.each do |job| %>
  <tr>
    <td><%= job.job_number%></td>
    <td><%= job.job_name%></td>
    <td><%= job.status%></td>


    <td><%= link_to "Edit", edit_job_path(job), class: 'btn btn-warning form-control' %></td>
    <td><%= link_to "Toggle Status", toggle_status_job_path(job), class: 'btn btn-success form-control' %></td>

  </tr>
<% end %>
</table>
</div>