<h1>Jobs Show</h1>

<%= @job.job_number %>
<%= @job.job_name %>
<%= @job.status %>
<%= link_to "Edit Job", edit_job_path%>
<%= link_to "Toggle Status", toggle_status_job_path %>
<%= link_to "Delete", @job, method: :delete, data:  {confirm: "Are you sure you want to delete?"} %>