<tr>  
  <td style="width: 6%"><h5 class="inline"><%= weekday(time_entry_item.start_time.wday) %></h5></td>
  <td style="width: 8%"><h5 class="inline"><%= time_entry_item.user.full_name %></h5></td>
  <td style="width: 2.66%"><%= time_entry_item.start_time.strftime("%D %l:%M %p") %></td>
  <td style="width: 2.66%"><%= time_entry_item.end_time.strftime("%D %l:%M %p") if time_entry_item.end_time != nil %></td>
  <td style="width: 6%"><%= time_entry_item.status %></td>
  <!-- <td style="width: 5%"><%= link_to "EDIT", edit_time_entry_path(time_entry_item), class: 'btn btn-warning form-control' %></td>
  <td style="width: 5%"><%= link_to "DELETE", time_entry_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger form-control' %></td> -->

  <td style="width: 25.66%"><button class="btn btn-primary form-control" onclick="toggleHideShow(<%= time_entry_item.id %>)">show/hide details</button>
    <div id="myDIV<%= time_entry_item.id %>">
      <table class="table table-bordered">
        <tr>
          <th>Job</th>
          <th>Task</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
        <% time_entry_item.task_entries.each do |task| %>
        <tr>
          <td><%= task.job != nil ? task.job.job_name : "N/A" %></td>
          <td><%= task.task.title %></td>
          <td><%= task.start_time.strftime("%I:%M %p") %></td>
          <td><%= task.end_time.strftime("%I:%M %p") unless !task.end_time %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </td>
</tr>
<% if time_entry_item != @current_entry %>
<script>
  $( document ).ready(toggleHideShow("<%= time_entry_item.id %>"));
</script>
<% end %>