<table class="table table-bordered">

	<%= search_form_for(@q, url: pages_archive_path, html: { method: :get }) do |f| %>
	<div class="row">
		<span class="col-md-3 text-center form-control-plaintext">Search By Employee, Job, or Task:</span>
		<div class="col-md-2">
			<%= f.search_field :task_entries_job_job_name_or_task_entries_task_title_or_user_full_name_cont, class: 'form-control' %>
		</div>
		<span class="col-md-2 text-center form-control-plaintext">Search By Job Number:</span>
		<div class="col-md-2">
			<%= f.search_field :task_entries_job_job_number_eq, class: 'form-control' %>
		</div>
		<div class="col-md-1 text-center form-control-plaintext">
			<%= f.label :status%>
		</div>
		<div class="col-md-1">
			<%= f.select :status_eq, TimeEntry.statuses.to_a.map { |w| [w[0].humanize, w[1]] },
			{:include_blank => true}, class: 'form-control' %>
		</div>
		<%#= f.text_field :start_time_gteq %>
		<%#= f.text_field :start_time_lteq, 'datepicker' => true %>
		<div class="col-md-1">
			<%= f.submit 'Search', class: 'btn btn-primary' %>
		</div>
		<% end %>
	</div>

	<%= render :partial => "time_entry_item", :collection => @entries %>
</table>

<script>
	on document.ready javascript
</script>