<%= form_for @entry do |f| %>

<%= f.text_field :start_time, value: Time.now.strftime("%l:%M %p"), readonly: true %>

<%= f.fields_for :task_entries do |task|  %>
    <%= render 'task_entry_fields', f: task %>
  <% end %>


<div id="myDIVadd"> <%= link_to_add_association 'Add Task Entry', f, :task_entries, partial: 'task_entry_create' %> </div>

<%= f.submit "Confirm" %>

<script>
	$(document).ready(function() { $(".add_fields").click() } );
	$( document ).ready(toggleHideShow("add"));

</script>

<% end %>