<div class="card border-secondary bg-light mx-auto" style="width: 15rem;">
  <div class='card-body'>
    <%= form_for @entry do |f| %>
    <div>
      <% if @entry.errors.any? %>
        <% @entry.errors.full_messages.each do |error| %>
          <%= alert_generator error %>
        <% end %>
      <% end %>
    </div>

    <%= f.hidden_field :start_date, value: Date.today, readonly: true, class: 'form-control' %>

    <%= f.text_field :start_time, value: Time.now.strftime("%l:%M %p"), readonly: true, class: 'form-control' %>
    <div class="form-group">
      <%= f.fields_for :task_entries do |task|  %>
        <%= render 'task_entry_fields', f: task %>
      <% end %> 
    </div>

    <div id="myDIVadd"> <%= link_to_add_association 'Add Task Entry', f, :task_entries, partial: 'task_entry_create' %> </div>

    <%= f.submit "Confirm", class: 'btn btn-primary' %>

    <script>
     $(document).ready(function() { $(".add_fields").click() } );
     $( document ).ready(toggleHideShow("add"));

   </script>

   <% end %>
 </div>
</div>