<% @rejected.each do |entry| %>
  <h4 class="inline">
    <%= weekday(entry.start_date.wday) %>
  </h4>
  <%= entry.status %>
  <br>
  <%= entry.start_date.strftime("%D") %>
  <%= entry.start_time.strftime("%l:%M %p") %><br>
  <%= entry.end_date.strftime("%D") if entry.end_date != nil %>
  <%= entry.end_time.strftime("%l:%M %p") if entry.end_time != nil %>
  <div style="margin-bottom: .5em;">
  <%= link_to "EDIT", edit_time_entry_path(entry), class: 'btn btn-warning' %>
  <%= link_to "DELETE", entry, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
    <button class='btn btn-primary' onclick="toggleHideShow(<%= entry.id %>)">show/hide details</button>
  <div id="myDIV<%= entry.id %>">
<table class="table table-bordered table-light">
    <tr>
      <th>Job</th>
      <th>Task</th>
      <th>Start Time</th>
      <th>End Time</th>
  </tr>
  <% entry.task_entries.each do |task| %>
  <tr>
      <td><%= task.job.job_name %></td>
      <td><%= task.task.title %></td>
      <td><%= task.start_time.strftime("%l:%M %p") %></td>
      <td><%= task.end_time.strftime("%l:%M %p") unless !task.end_time %></td>
    <% end %>
    </tr>
  </table>
  </div>
  <br>
<% end %>