<div class="form-group nested-fields">

    <%= f.datetime_field :start_time %>
    <%= f.datetime_field :end_time %>

    <%= f.collection_select(:task_id, Task.all, :id, :title, :include_blank => "Task Select") %>

    <%= f.collection_select(:job_id, Job.all, :id, :job_name, :include_blank => "Job Select") %>
	
	<%= link_to_remove_association 'Remove Task', f %>
</div>
