<% if logged_in?(:admin) %>
  <h5>
    <%= time_entry_item.user.full_name %>
  </h5>
<% end %>
<h4 class="inline">
  <%= weekday(time_entry_item.start_time.wday) %>
</h4>
<%= time_entry_item.status %>
<br>
<%= time_entry_item.start_time.strftime("%D %l:%M %p") %>
<br>
<%= time_entry_item.end_time.strftime("%D %l:%M %p") if time_entry_item.end_time != nil %>
<br>
<div style="margin-bottom: .5em;">
  <%= link_to "EDIT", edit_time_entry_path(time_entry_item), class: 'btn btn-warning' %>
  <%= link_to "DELETE", time_entry_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
<% if time_entry_item != @current_entry %>
  <button class="btn btn-primary" onclick="toggleHideShow(<%= time_entry_item.id %>)">show/hide details</button>
<% end %>
<div style="margin-bottom: 1em;">
  <div id="myDIV<%= time_entry_item.id %>">
    <table class="table table-bordered">
      <tr>
        <th>Job</th>
        <th>Task</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      <% time_entry_item.task_entries.each do |task| %>
        <tr>
          <td><%= task.job.job_name %></td>
          <td><%= task.task.title %></td>
          <td><%= task.start_time.strftime("%I:%M %p") %></td>
          <td><%= task.end_time.strftime("%I:%M %p") unless !task.end_time %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
<% if time_entry_item != @current_entry %>
  <script>
    $( document ).ready(toggleHideShow("<%= time_entry_item.id %>"));
  </script>
<% end %>