<% if logged_in?(:admin) %>
  <%= render 'admin_home' %>
<% else %>
  <%#= render 'employee_home' %>
<% end %>

<% if @current_entry == nil %>
  <%= link_to "Clock In", new_time_entry_path %><br> 
<% elsif @current_entry.status != 'active' %>
  <%= link_to "Clock In", new_time_entry_path %><br> 
<% end %>

<% if @current_entry != nil %>

  <%= link_to "Switch Task", switch_task_path(@current_entry) if @current_entry.status == 'active' %><br>
  <%= link_to "Clock Out", clock_out_path(@current_entry) if @current_entry.status == 'active' %><br>
<% end %>

<% if @todays_entries %>
  <%= render 'today_time_entries' %>
<% end %>
<hr>
<h1>This Week</h1>
<% x = Time.now %>
<% @weeks_entries.each do |entry| %>
  <% if x.wday != entry.start_time.wday %>
    <hr>
  <% end %>
  <% if !@todays_entries.include?(entry) %>
    <%= render :partial => "time_entry_item", :locals => {:time_entry_item => entry} %>
  <% end %>
  <% x = entry.start_time %>
<% end %>